body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.banner {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 600px;
  // background-color: yellow;
}
